.search {
  margin-bottom: 16px;
}

.search__form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.search__inputtext {
  border: 1px solid grey;
  border-radius: 8px;
  box-sizing: border-box;
  color: --navbar-color;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  outline: none;
  padding: 16px;
  width: 100%;
  -webkit-box-shadow: var(--shadow-card);
  -moz-box-shadow: var(--shadow-card);
  box-shadow: var(--shadow-card);
}

.search__button {
  color: var(--text-color);
  padding: 1em;
  margin: 0.7em;
  font-family: var(--navbar-font);
  border-radius: 5px;
  border: 1px #dcdcdc solid;
  background: linear-gradient(180deg, #ededed 5%, #dfdfdf 100%);
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: inset 1px 1px 2px 0px #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.search__button:hover {
  background: linear-gradient(180deg, #dfdfdf 5%, #ededed 100%);
}

.search__icon {
  margin: 10px 18px;
  font-size: 24px;
}

@media (min-width: 769px) {
  .search__form {
    flex-direction: row;
  }
}
